body {
  margin: 0px;
  font-size: medium;
  background-color: whitesmoke;
  /* box-sizing: border-box; */
  font-family: "Roboto Mono", monospace;
}

.header_title {
  padding: 30px;
}

.reviewed_pics {
  padding: 0px 40px;
}

.book_details {
  padding: 0px 40px;
}

.books_reviewed {
  padding: 40px;
  font-weight: lighter;
}

.book_description {
  padding: 40px 100px 20px 100px;
  line-height: 150%;
}

.reader_reviews {
  padding: 20px 60px 20px 60px;
  line-height: 150%;
}

.container {
  background-color: whitesmoke;
  justify-content: center;
}

#flex {
  display: flex;
  min-width: 0;
  flex-direction: row;
  width: 100%;
}

/* navbar section */
.navbar{
  font-size: 14px;
  padding: 50px;
  width: 100%;
  background-color: black;
  color: white;
  margin-top: -40px;
}

.main-nav {
  list-style-type: none;

}

.nav-links,
.logo {
  text-decoration: none;
  color: white;
}

.drop-items {
  float: none;
  text-decoration: none;
  /* display: none; */
}

.main-nav,
li {
  text-align: center;
  margin: 15px auto;
}

.logo {
  display: inline-block;
  font-size: 22px;
  margin-top: 10px;
  margin-left: 20px;
}

.navbar-toggle {
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
  color: white;
  font-size: 24px;
}

.navbar,
footer {
  display: flex;
  justify-content: center;
  padding: 30px;
  height: 40px;
  color: white;
}

.main-nav,
footer {
  display: flex;
  margin-right: 30px;
  color: black;
}

.nav-links {
  margin-left: 40px;
}

.dropdown-content {
  list-style-type: none;
  display: none;
  position: absolute;
  background-color: black;
  color: red;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 10px;
  z-index: 1;
}

.dropdown-content a:hover {
  background-color: black;
  color: red;
}

/* + means look at all dropdown siblings of the 'a' that is being hovered */
a:hover + .dropdown-content {
  display: block;
  color: red;
}

/* visited link */
a:visited {
  color: white;
}

.dropdown-content:hover {
  display: block;
  color: red;
}

@media screen and (max-width: 600px) {
  #flex {
    display: block;
  }

  .main-nav {
    display: inline;
  }
}

/* footer  .social-wrapper li {
  display: flex;
  justify-content: space-evenly;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0.0rem;
  padding-top: 30px;
} */

.social-wrapper ul li {
  display: inline;
  padding: 20px;
}


